/* Main Elements */
body {
  margin: 0;
  background-color: #2E4053;
  }

a {
   text-decoration: none;
   color: #0079FF;
   }

 div {
   display: grid;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   }

 div > h2 a:link { color: #1B2631; }
 div > h2 a:visited { color: #00448E; }
 div > h2 a:hover { color: #873600;}

/* Makes the Nav Divs grow */
 .grow { transition: all .2s ease-in-out; }
 .grow:hover { transform: scale(1.5); }

/* Words inside the Navigation Div Elements */
.grow {
  text-decoration: none;
  letter-spacing: 4px;
  font-family: Lucida;
  }

.head-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 20px;
  }

.index-subtitle {
  color: #ffffff;
  font-size: 30px;
  font-style: italic;
  padding-bottom: 30px;
  }

/* Footer Elements */
  .footer {
    padding-top: 30px;
    color: #ffffff;
    }

  .footer-name {
    font-size: 35px;
    text-shadow: 2px 2px #000;
    padding-top: 20px;
    }

  #mobile {display: none;}
  #Desktop {display: inline; }

/* Alternating colors between main nav */
  #astro {
    background-color: #808B96;
    }

  #chem {
    background-color: #ABB2B9;
    }

  #elect {
    background-color: #808B96;
    }

  #eng {
    background-color: #ABB2B9;
    }

  #phys {
    background-color: #808B96;
    }

/* Display for Mobile devices */
@media only screen and (max-width: 768px) {

    .index-subtitle {
      font-size: 20px;
      padding-bottom: 15px;
      }

    div {
      padding-top: 10px;
      padding-bottom: 10px;
      }

    .grow { transition: none; }
    .grow:hover { transform: none; }

    .footer-name {
      font-size: 25px;
      padding-top: 8px;
      }

  #mobile {display: inline;}
  #Desktop {display: none;}

  }
