/* Main Elements */
  body {
    margin: 0;
    background-color: #2E4053;
    color: #fff;
    }

  header {
    background-image: url(mwslogo.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 95px;
    display: block;
    padding-top: 10px;
    }

  nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    }

  ul li {
    list-style-type: none;
    text-decoration: none;
    }

  h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 3px;
    margin: 0px;
    text-shadow: 2px 2px #000;
    letter-spacing: 5px;
    }

  h3 {
    text-align: center;
    font-size: 35px;
    text-shadow: 2px 2px #000;
    }

  nav ul {
    float: none;
    background-color: #576675;
    padding: 10px 0px 10px 0px;
    text-align: center;
    word-spacing: 100px;
    text-decoration: none;
    }

  nav a {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    }

  nav a:hover { color: #873600;}


/* ---- Feautured Products Section ---- */

  /* Feautured product section */
  .feautured {
    padding-right: 20px;
    }

  /* Items inside feautured product boxes */
  .item {
    padding: 10px 30px 10px 10px;
    background-color: #425364;
    margin-bottom: 10px;
    overflow: hidden;
    border: 3px solid #2B3540;
    }

  /* Individual item names */
  .item-name {
    font-size: 25px;
    padding-bottom: 8px;
    text-shadow: 2px 2px #000;
    }

  /* Shopping buttons */
  .button {
    float: right;
    padding: 0px;
    width: 100px;
    height: 50px;
    background-color: #8D97A2;
    border: 2px #226fbe;
    color: green;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    }

  .button:hover {
  	background: #B3BAC1;
  	color: #911D06;
    }


/* ---- Comment section ---- */

  /* Comment section Title */
  .comments-title {
    float: none;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    }

  /* Comment divs */
  .comments-box {
    padding: 0px 10px 2px 50px;
    }

  /* User's comment quote */
  .user-comment {
    padding-bottom: 5px;
    padding-top: 5px;
    }

  /* Name of the user who commented */
  .comment-name {
    font-style: italic;
    padding-left: 20px;
    }

  .stars {
    color: gold;
    font-size: 30px;
    }

  .footer {
    text-align: center;
    padding: 30px 0px 20px 0px;
    }

  div a {
    text-decoration: none;
    color: #0079FF;
    }

/* Display for Mobile devices */
@media only screen and (max-width: 768px) {

  h2 {
    font-size: 35px;
    }

  h3 {
    font-size: 26px;
    }

  header {
    height: 90px;
    width: auto;
    }

  nav ul li {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
    }

  nav li {
    border: 1px solid #2B3540;
    background-color: #576675;
    }

  nav ul {
    background: none;
    }

  nav a {
    float: none;
    }

  .item-name {
    font-size: 20px;
    padding-bottom: 8px;
    }

  li {
    font-size: 15px;
    }

  .comments-title {
    font-size: 26px;
    padding-left: 0px;
    }

  }
